Install axios react-router-dom and react-toastify in frontend part.


.env file
MONGODB_URI = 'mongodb+srv://vaibhav:VOWZjzZqllRqO3Ya@cluster0.jjy8j.mongodb.net'
CLOUDINARY_NAME = 'dh263hhac'
CLOUDINARY_API_KEY = '644745672544136'
CLOUDINARY_SECRET_KEY = 'NeLvmB2vVulZ1p3-ES3pO_6HM2Q'

npm start
npm run server